<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClipDocsChampion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ClipDocsChamp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ClipDocsChampion.Properties.Settings>
            <setting name="IsEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WT_mc_id" serializeAs="String">
                <value>AZ-MVP-123445</value>
            </setting>
        </ClipDocsChampion.Properties.Settings>
        <ClipDocsChamp.Properties.Settings>
            <setting name="IsEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WT_mc_id" serializeAs="String">
                <value>DT-MVP-5000708</value>
            </setting>
        </ClipDocsChamp.Properties.Settings>
    </userSettings>
</configuration>